@keyframes cloud-scroll-up {
  0% {
    background-position : 0px 75%
  }
  100% {
    background-position : -2559px 75%
  }
}

@keyframes cloud-scroll-down {
  0% {
    background-position : 0px 25%
  }
  100% {
    background-position : -2467px 25%
  }
}

:root {
    --ikemen-color: #20bafa;
    --ikemen-highlight-color: #80f0ff;
    --nightly-color: #fa6020;
    --nightly-highlight-color: #ffa080;
    --feature-bg: #222;
    --feature-text: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: sans-serif;
    text-align: center;
    background-color: #202020;
    color: #fff;
}

.headline {
    height: 30em;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: 0.25em var(--ikemen-color) solid;
    background: url(resources/sky.png);
    background-size: cover;
    background-position: 0% 25%;
    position: relative;
}

.headline-graphic {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.cloud-up {
    background: url(resources/cloud-up.png);
    animation: cloud-scroll-up 80s linear infinite;
}

.cloud-down {
    background: url(resources/cloud-down.png);
    animation: cloud-scroll-down 45s linear infinite;
}

h1 {
    font-size: 5em;
}

h2 {
    font-size: 3em;
    padding: .5em;
}

h3 {
    font-size: 1.25em;
    padding: .25em;
}

a {
    color: var(--ikemen-color);
    transition: .1s;
}

a:hover {
    color: var(--ikemen-highlight-color);
}

.info-box {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    z-index: 10;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1em;
}

.buttons-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1em;
}

.logo {
    width: 40em;
    transition: 2s;
    margin: 1em;
}

.logo:hover {
    filter: drop-shadow(0 0 0.75em var(--ikemen-color));
}

.releases-button {
    display: block;
    width: fit-content;
    height: fit-content;
    margin: .5em;
    padding: 15px;
    background-color: var(--ikemen-color);
    text-decoration: none;
    font-weight: 700;
    border-radius: 3em;
    color: #fff;
    transition: .3s;
}

.releases-button:hover {
    background-color: var(--ikemen-highlight-color);
    color: #fff;
}

.releases-button:active {
    background-color: #000;
    color: var(--ikemen-color);
    transition: .1s;
}

.nightly-button {
    background-color: var(--nightly-color);
    color: #fff;
}

.nightly-button:hover {
    background-color: var(--nightly-highlight-color);
    color: #fff;
}

.nightly-button:active {
    background-color: #000;
    color: var(--nightly-color);
    transition: .1s;
}

.filter-gray {
    filter: invert(99%) contrast(10%);
    transition: .1s;
}

.footer,
.menu-bar {
    display: flex;
    align-items: center;
    width: 100%;
    height: 4em;
    overflow: hidden;
    background-color: #00000066;
}

.menu-bar a {
    align-items: center;
    display: flex;
    height: 4em;
    padding: 1em;
    color: gray;
    text-decoration: none;
    transition: .1s;
}

.menu-bar a:hover {
    color: #fff;
}

.menu-bar a:hover .filter-gray {
    filter: invert(99%) contrast(100%);
}

.feature-section {
    min-height: 100vh;
    padding: 3em;
    font-size: 1.5em;
    background-color: #99bbff22;
}

.feature-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 80%;
    margin: auto;
}

.feature {
    display: block;
    color: var(--feature-text);
    background-color: var(--feature-bg);
    border-radius: .5em;
    width: 16em;
    min-height: 20em;
    margin: .5em;
    transition: .2s;
}

.feature:hover {
    filter: drop-shadow(0 0 0.25em var(--ikemen-color));
}

.feature p {
    padding: 1em;
    font-size: .75em;
}

.feature img {
    border-top-left-radius: .5em;
    border-top-right-radius: .5em;
    width: 100%;
    max-height: 40%;
    height: 40%;
    object-fit: cover;
}

.footer {
    display: block;
    justify-content: center;
    bottom: 0;
}

.footer * {
    padding: .5em;
}